body {
    margin: 0;
}

a {
    cursor: pointer;
}

h1 {
    color: white;
    font-family: 'Rajdhani', Calibri;
}

.m-auto {
    margin: auto;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #0a0b10;
}

::-webkit-scrollbar-thumb {
    background: #12131c;
    border-radius: 3px;
}

.registrationButton {
    background-color: #fcb53f;
    cursor: pointer;
    border: none;
    outline: none;
    height: 100%;
}

.registrationButtonText {
    color: white;
    font-family: 'Rajdhani', Calibri;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(3.5rem - 3px);
    background-color: #0a0b10;
    border-bottom: solid;
    border-color: #12131c;
    border-width: 3px;
}

.navContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.navLogo {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 13vw;
}

.menuImage {
    object-fit: scale-down;
    height: 100%;
    width: auto;
}

.menuButton {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 1em;
    margin-left: 1em;
    padding-right: 1em;
    padding-left: 1em;
    height: 100%;
    cursor: pointer;
    transition: 500ms ease;
}

.menuText {
    font-size: 22px;
    letter-spacing: 3px;
}

.dropper {
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 22px;
    letter-spacing: 3px;
    transition: 500ms ease;
}

.menuButton:hover .dropper {
    color: #ff6bdf;
    transform: rotate(-45deg);
    transition: 500ms ease;
}

.navContent:has(:hover) .menuButton:not(:hover) {
    opacity: 0.2;
    transition: 500ms ease;
}

.loginButton {
    display: flex;
    height: 100%;
}

.loginWrap {
    position: relative;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

.loginContent {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*
.loginLogo
{
    display: block;
    object-fit: scale-down;
    height: 2em;
    width: 2em;
}*/
